        <%# NRC Number %>
        <div class="form-group clearFix">
          <%= form.label :NRC, "NRC Number", class: "main_label"%>
          <div class="main_side clearFix">
            <%# State/Division Code %>
            <div class="nrc_item">
              <%= form.label :SDCode, "State/Division Code"%><br>
              <%= form.select :SDCode, ['1/','2/','3/','4/','5/','6/','7/','8/','9/','10/','11/','12/','13/','14/']%>
            </div>
            <%# Township Code %>
            <div class="nrc_item">
              <%= form.label :townshipCode, "Township Code"%><br>
              <%= form.select :townshipCode, ['MaLaNa','MaMaNa']%>
            </div>
            <%# Nationality %>
            <div class="nrc_item">
              <%= form.label :nationality, "Nationality"%><br>
              <%= form.select :nationality, ['(N)','(F)']%>
            </div>
            <%# Number %>
            <div class="nrc_item">
              <%= form.label :number, "Number"%><br>
              <%= form.number_field :number %>
            </div>
          </div>
        </div>
        <%# NRC Photo %>
        <div class="form-group clearFix">
          <%= form.label :NRCPhoto, "NRC Photo", class: "main_label"%>
          <%# front/back View %>
          <div class="main_side clearFix">
            <%= form.file_field :frontView, class: "nrc_photo_item"%>
            <div>
              <%= form.label :front_view, "Front View" , class:"upload_front_btn"%>
              <%= form.file_field :front_view, class:"front_upload" , required:"true"%>
            </div>
            <%= form.file_field :backView, class: "nrc_photo_item"%>
          </div>
        </div>





        <%# Diploma %>
              <div class= "edu_group">
                <%= form.label :diplama ,"Diploma" , class:"edu_label"%>
                <div class="edu clearFix">
                  <div class="edu_item">
                    <%= form.label :d_university ,"University"%>
                    <%= form.text_field :d_university %>
                  </div>
                  <div class="edu_item">
                    <%= form.label :d_major ,"Major"%>
                    <%= form.text_field :d_major %>
                  </div>
                  <div class="edu_item">
                    <%= form.label :d_year ,"Year"%>
                    <%= form.text_field :d_year %>
                  </div>
                  <div class="edu_item">
                    <%= form.label :d_degree ,"Degree"%>
                    <%= form.text_field :d_degree %>
                  </div>
                </div>
              </div>