<div class="container">
<% if @user != nil %>
  <%= @user[:name] %>
  <%= @user[:email] %>
  <%= @user[:file_upload] %>
  
<% end %>
  <%= form_with model: @user, url: '/check' do |form| %>
  <% @user.errors.full_messages.each do |item| %>
    <div class="error_msg"> <%= @user.errors[:email][0] %></div>
  <% end %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name%>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field "email"%>
  </div>
   <div class="field">
    <%= form.label :file_upload %>
    <%= form.file_field "file_upload"%>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
  <% end %>
</div>