<div>
  <h2>OJT Application Form</h2>
  <div class= "container">
    <%# Appliction form %>
    <%= form_with url: "/comfirm" do |form| %>
      <%# Personal Information %>
      <div class="sec">
        <h3>Personal Information</h3>
        <%# Name %>
        <div class="form-group clearFix">
          <%= form.label :name,  "Name:" , class: "main_label"%>
          <%= form.text_field :name, class: "main_side" , placeholder:"Mg Mg.." , required:"true"%>
        </div>
        <%# Profile Picture %>
        <div class="form-group clearFix">
          <%= form.label :profile_picture, "Profile Picture", class: "main_label"%>

          <div class="main_side">
            <%= form.label :profile_picture, "Upload Profile" , class:"upload_profile_btn"%>
            <%= form.file_field :profile_picture, class:"profile_upload" , required:"true"%>
          </div>
        </div>
        <%# dob %>
        <div class="form-group clearFix">
          <%= form.label :dob, "Date Of Birth", class: "main_label"%>
          <div class="main_side">
            <%= form.date_field :dob %>
          </div>
        </div>
        <%# Phone %>
        <div class="form-group clearFix">
          <%= form.label :phone, "Phone", class: "main_label"%>
          <div class="main_side">
            <%# phone add and remove %>
            <div class="phone_wrapper">
              <div class="phone_item">
                <%# <input type="text" name="field_name[]" value=""/> %>
                <%= form.telephone_field :phone %>
                <a href="javascript:void(0);" class="add_phone" title="Add field">
                  <%# <span class="pm_sign">+</span> %>
                  <i class="fas fa-plus"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <%# Email %>
        <div class="form-group clearFix">
          <%= form.label :email, "Email", class: "main_label"%>
          <%= form.email_field :email, class: "main_side" %>
        </div>
        <%# Current Address %>
        <div class="form-group clearFix">
          <%= form.label :currentAddress, "Current Address", class: "main_label"%>
          <%= form.text_area :currentAddress, class: "main_side" %>
        </div>
        <%# Hometown Address %>
        <div class="form-group clearFix">
          <%= form.label :hometownAddress, "Hometown Address", class: "main_label"%>
          <%= form.text_area :hometownAddress, class: "main_side" %>
        </div>
      </div>

      <%# Education Background %>
      <div class="sec">
        <h3>Education Background</h3>
        <div>
          <%# Education Level %>
          <div class="form-group clearFix">
            <%= form.label :eduLevel, "Education Level", class: "main_label" %>
            <div class="main_side">
              
              <%# Bachelor %>
              <div class="edu_group">
                <%= form.label :bachelor ,"Bachelor", class:"edu_label"%>
                <div class="edu clearFix">
                  <div class="edu_item">
                    <%= form.label :b_university ,"University"%>
                    <%= form.text_field :b_university %>
                  </div>
                  <div class="edu_item">
                    <%= form.label :b_year ,"Year"%>
                    <%= form.text_field :b_year %>
                  </div>
                  <div class="edu_item">
                    <%= form.label :b_degree ,"Degree"%>
                    <%= form.text_field :b_degree %>
                  </div>
                </div>
              </div>
              <%# Master %>
               <div class="edu_group">
                <%= form.label :master ,"Master" , class:"edu_label"%>
                <div class="edu clearFix">
                  <div class="edu_item">
                    <%= form.label :m_university ,"University"%>
                    <%= form.text_field :m_university %>
                  </div>
                  <div class="edu_item">
                    <%= form.label :m_year ,"Year"%>
                    <%= form.text_field :m_year %>
                  </div>
                  <div class="edu_item">
                    <%= form.label :m_degree ,"Degree"%>
                    <%= form.text_field :m_degree %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <%# Diploma Name %>
          <div class="form-group clearFix">
            <%= form.label :diplamaName , "Diploma Name", class: "main_label"%>
            <%= form.text_field :diplamaName , class:"main_side"%>
          </div>
          <%# Other Certificates %>
          <div class="form-group clearFix">
            <%= form.label :otherCerti ,"Other Certificates", class: "main_label"%>
            <%= form.text_field :otherCerti , class: "main_side" %>
          </div>
          <%# Programming Skill %>
          <div class="form-group clearFix">
            <%= form.label :programmingskill , "Programming Skill", class: "main_label" %>
            <div class="main_side">
              <div class="clearFix">
                <%= form.label :plang ,"Language" , class:"pros_label"%>
                <%= form.label :plevel ,"Level" , class:"pros_label"%>
              </div>

              <div class="plang_wrapper">
                <div class="plang_item clearFix">
                  <%= form.text_field :plang , placeholder:"Ruby"%>
                  <%= form.text_field :plevel , placeholder:"B"%>
                  <a href="javascript:void(0);" class="add_plang" title="Add field">
                    <%# <span class="pm_sign">+</span> %>
                    <i class="fas fa-plus"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <%# Language Skill %>
          <div class="form-group clearFix foreignLang">
            <%= form.label :languageSkill ,"Language Skill", class: "main_label"%>
            <div class="main_side">
              <%# English %>
              <div>
                <%= form.label :english , "English"%>
                <%= form.text_field :english , placeholder:"Level"%>
              </div>
              <%# Japan %>
              <div>
                <%= form.label :japan , "Japan"%>
                <%= form.text_field :japan, placeholder:"Level"%>
              </div>
              <%# Other %>
              <div>
                <%= form.label :other , "Other"%>
                <%= form.text_field :other, placeholder:"Level"%>
              </div>
            </div>   
          </div>
        </div>
      </div>
      <%# Experience %>
      <div class="sec">
        <h3>Experience</h3>
        <%# Has Job Exp %>
        <div class="form-group clearFix">
          <%= form.label :hasjobexp ,"Has Job Experience" , class:"main_label"%>
          <%= form.check_box :hasjobexp , class:"main_side,hje"%>
        </div>
        <div class="jobexp">
          <%# Internship Info %>
          <div class="form-group clearFix">
            <%= form.label :inter_info ,"Internship Info" , class:"main_label"%>
            <%= form.text_area :inter_info, class:"main_side"%>
          </div>
          <%# Job Experience %>
          <div class="form-group clearFix">
            <%= form.label :job_exp ,"Job Experience" , class:"main_label"%>
            <%= form.text_area :job_exp, class:"main_side"%>
          </div>
          <%# Total Experinence Year %>
          <div class="form-group clearFix">
            <%= form.label :total_exp_year ,"Total Experience Year" , class:"main_label"%>
            <%= form.text_field :total_exp_year, class:"main_side"%>
          </div>
          <%# Comment %>
          <div class="form-group clearFix">
            <%= form.label :comment ,"Comment" , class:"main_label"%>
            <%= form.text_area :comment, class:"main_side"%>
          </div>
        </div>
      </div>
      <%# button %>
      <div class="btn-group sec">
        <%= form.submit "Reset", :type => "reset" , class:"reset" %>
        <%= form.submit "Submit", :type => "submit"%>
      </div>

     
    <% end %>
  </div>
</div>
<%= javascript_pack_tag 'user/app' %>
